.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
*~

po/remove-potcdate.sed
po/stamp-po
po/xdg-user-dirs.pot
po/POTFILES
*.gmo

*.o

xdg-user-dir-lookup
xdg-user-dirs-update

xdg-user-dirs-*.tar*


